body{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Varela Round',sans-serif;
    font-size: 63px;
    font-weight: 400;
}
h2{
    font-family: 'Varela Round',sans-serif;
    font-size: 40px;
    font-weight: 400;
}
h3{
    font-family: 'Varela Round',sans-serif;
    font-weight: 400;
}
a,p{
    font-family: 'Varela Round',sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #323335;
}
p{
    display: inline-block;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
}
/*================================================*/
.img-header{
    background-image: url(../img/img-header.webp);
    background-size: cover;
    background-position: center 55%;
    height: 45em; 
}

.img-space{
    background-image: url(../img/img-sec-1.webp);
    background-size: cover;
    background-position: center center;
    height: 40em;
}
.img-tecnologia{
    background-image: url(../img/img-sec-2.jpg);
    background-size: cover;
    background-position: center center;
    height: 30em;
}
.img-ilustra{
    background-image: url(../img/img-ilustra.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 22em;
}
.img-ilustra-2{
    background-image: url(../img/img-ilustra-2.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 22em;
}
.img-ilustra-3{
    background-image: url(../img/img-ilustra-3.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 22em;
}
.img-mehrwert{
    background-image: url(../img/img-mehrwert.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 22em;
}
.img-ilustra-4{
    background-image: url(../img/img-ilustra-4.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 22em;
}
.mod-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.content-hello{
    width: 80%;
    color: white;
    margin-top: 20px;
}
.icono-scroll{
    margin-top: 30px;
}
.col-6 .icono-scroll{
    width: 5%;
    height: 5%;
    margin-right: 70%;
}
.icono-scroll a svg{
    width: 50px;
    height: 40px;
    color: white;
    margin-left: 10%;
}
.icono-scroll a svg path{
    width: 100%;
    height: 100%;
}
.cja-width-50{
    width: 50%;
    color: black;
}
.content-space{
    width: 80%;
    margin: auto;
    margin-top: 10%;
}
.content-tech{
    width: 85%;
    margin: auto;
    margin-top: 10%;
}
.content-hello .content-jetzt{
    width: auto;
}
.content-jetzt{
    background-color: white;
    border-radius: 50px;
    text-align: center;
}
.content-jetzt a{
    color: black;
    display: inline-block;
    padding: 16px 30px;
}
.col-6 .content-jetzt{
    width: 40%;
}
.box-shadow-jetzt{
    box-shadow: -15px 15px 5px black;
}
.col-6 .content-travelling{
    width: 85%;
    margin: auto;
    margin-top: 10vh;
}
.col-6 .content-text-Technologie{
    width: 80%;
    margin: auto;
    margin-top: 10vh;
}
.col-6 .content-text-mehrwert{
    width: 80%;
    margin: auto;
    margin-top: 10vh;
}
.col-12 .content-text-ein-klick{
    width: 50%;
    margin: auto;
    margin-top: 10vh;
}
.col-12 .content-text-greifbar{
    width: 50%;
    margin: auto;
    margin-top: 10vh;
}
.a-btn{
    background-color: white;
    border-radius: 40px;
    text-align: center;
    margin-bottom: 40px !important;
}
.col-12 .a-btn{
    width: 200px;
    height: 40px;
    margin: auto;
}
.a-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.a-btn a p{
    font-size: 15px;
    margin: 0;
}
.a-btn{
    padding: 4px 20px 4px 20px;
}
.col-12 .content-text-in-planung{
    width: 50%;
}
.col-12 .content-text-schneller{
    width: 50%;
    margin: auto;
}
.information-of-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.information-of-footer .logo-bijond{
    width: 90px;
    height: 90px;
}
.logo-bijond img{
    width: 100%;
    height: 100%;
}
.content-logo-and-information-of-author{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
/*============================================*/
.container{
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    word-wrap: break-word;
}
.row{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width: 8.333333333333333%;
}
.col-2{
    width: 16.66666666666667%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 8.333333333333333%;
}
.col-5{
    width: 33.33333333333333%;
}
.col-6{
    width: 50%;
}
.col-12{
    width: 100%;
}
/* ==================medium devices =======================*/
@media (max-width: 780px){
    .column-med-reverse{
        display: flex;
        flex-direction: column-reverse;
    }
    @media (max-width: 440px){
        .img-header{
            height: 55vmax;
        }
        .col-12 .a-btn{
            width: 70%;
            height: 45px;
        }
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .col-6{
        width: 100%;
    }
    /*============================*/
    p,a{
        font-size: 16px !important;
    }
    h1{
        font-size: 36px !important;
    }
    h2{
        font-size: 23px !important;
    }
    /*================================*/
    .content-hello{
        width: 90%;
        color: white;
        margin-top: 20px;
    }
    .content-jetzt a{
        box-sizing: border-box;
        color: black;
        display: inline-block;
        padding: 16px 20px;
    }
    .icono-scroll a{
        margin: auto;
    }
    .col-6 .icono-scroll{
        margin: 0%;
    }
    .col-12 .content-text-ein-klick{
        width: 90%;
    }
    .col-12 .content-text-greifbar{
        width: 90%;
        margin: auto;
        margin-top: 10vh;
    }
    .col-12 .content-text-schneller{
        width: 90%;
        margin: auto;
        margin-top: 10vh;
    }
    .von-hause{
        text-align: center;
    }
    .img-ilustra{
        height: 55vmax;
    }
    .information-of-footer{
        display: flex;
        justify-content: none;
        flex-direction: column;
        align-items: center;
    }
    .content-logo-and-information-of-author{
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }
    /*===================*/
    .fz-40px{
        font-size: 40px;
    }

}
/*======================================*/
.height-50em{
    height: 50em;
}
.background-152736{
    background-color: #152736;
}
.color-414B70{
    color: #414B70;
}
.margin-auto{
    margin: auto;
}
.margin-0{
    margin: 0;
}
.margin-top-40px{
    margin-top: 50px !important;
}
.padding-15px{
    padding: 15px;
}
.text-align-center{
    text-align: center;
}
.position-relative{
    position: relative;
}
.flex-direction-row-reverse{
    flex-direction: row-reverse;
}
.text-decoration{
    text-decoration: underline;
}
.color-white{
    color: white;
}
/*===================================*/
.space-h2{
    display: inline-block;
    margin-bottom: 40px;
}
.space-text{
    margin-bottom: 20px;
}
.space-container{
    margin-bottom: 5vmax;
}